<!-- an example of a directive (that create an angular application by running the module we will make below in app.js when the document loads) that says run this code when the page loads is.  The module below isn't doing anything yet but just by including it inside of the html it is going to treat the html inside this element as a part of the angular app-->
<!-- **WHAT I NEED START** -->
	<!-- <html ng-app="store"> -->
<!-- **WHAT I NEED END** -->
<!--  this links up with the modeule in app.js that looks like -->
	<!-- the directive belowe match up with the module var app.app = angular.module('store', with dependencies inside the app.js) -->
<html ng-app="guestbook">
	<head>
	  <!-- Compiled and minified CSS -->
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	    <!-- Compiled and minified JavaScript -->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	  <script>"https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"</script>
	  <link href="assets/css/styles.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	  <link href="https://fonts.googleapis.com/css?family=Tillana" rel="stylesheet">
	<title> My Guest Book </title>
	</head>
	<body ng-controller="TabController as tabCtrl">
	  <nav>
	    <div class="nav-wrapper">
	      <ul id="nav-mobile" class="left">
	      	<li><img src="assets/img/rings.png" alt="My Guest Book Logo" title="My Guest Book Logo" class="ringsIcon"></li>
	        <li><a href="index.html" class="myGuestBookSize">My Guest Book</a></li>
	        <li><a href="badges.html" class="myGuestBookSize">Entries</a></li>
	      </ul>
	    </div>
	  </nav>

<!-- Banner Start -->
		<div id="banner">
			<h1 class="center shadow myGuestBookTextPadding">My Guest Book</h1>
		</div>
<!-- Banner End -->

<!-- Form Start -->

	  <div class="container center">

	    <div class="section containerBottom">

	      <section id="main"></section>

	        <div class="col s12 m4">
	          <div class="icon-block">
	          		<!-- E.g.: Icon made by Roundicons from www.flaticon.com  -->
	                </div><img alt="formIcon" id="FormICon" src="assets/img/formIcon.png" title="formIcon">
	            	</div>
	      			<h5 class="center enterYourInfoHere">Enter your information here</h5>
	      			<br>
	            <form id="sweepstakeForm">
	              First Name:<br>
	              <input type="text" name="firstname" value="Rose">
	              <br>
	              Last Name:<br>
	              <input type="text" name="lastname" value="Koenings">
	              Address:<br>
	              <input type="text" name="address" value="address">
	              <br>
	              Message:<br>
	              <textarea class="materialize-textarea" name="message" value="You're wedding was so beautiful! I loved the photobooth and your cake."></textarea>
	              <button type="submit" id="template1-submit" class="btn-large waves-effect waves-light btn">Send</a>
	              </div>
	            </form>
	            <div class="row center" id="result"></div>
	          </div>
	        </div>
	        <div class="tabs">
	        	<div class="tab" ng-click="tabCtrl.showTab(1)">Other</div>
	        	<div class="tab" ng-click="tabCtrl.showTab(2)">Messages</div>
	        	<section class="other" ng-show="tabCtrl.isShown(1)">
	        		<h1>Other Tab</h1>
	        	</section>
	        	<section class="messages" ng-show="tabCtrl.isShown(2)" ng-controller="MessageController as messageCtrl">
	        		<h1>Messages</h1>
	        		<ul>
	        			<li ng-repeat="message in messageCtrl.messages track by $index">
	        				<p><strong>{{message.message}}</strong></p>
	        				<p>{{message.address}}</p>
	        			</li>
	        		</ul>
	        		<hr>
	        		<h2>New Message</h2>

	    </div>
<!-- Form End -->

<!-- ADD TABS!!!!!! -->


		<footer class="pageFooter">
			<div class="container" id="footer">
		 		© 2016 Copyright Rose Koenings
		    </div>
		</footer>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>